In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import joblib
import pickle

In [14]:
df = pd.read_csv('fake_or_real_news.csv', encoding="latin-1")
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillaryâs Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"â Kaydee King (@KaydeeKing) November 9, 2016...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [15]:
df.drop(['Unnamed: 0', 'title'], axis=1, inplace=True)

In [16]:
df.head()

                                                text label
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2  U.S. Secretary of State John F. Kerry said Mon...  REAL
3  â Kaydee King (@KaydeeKing) November 9, 2016...  FAKE
4  It's primary day in New York and front-runners...  REAL

In [17]:
# Feature and Labels

df['Output'] = df['label'].map({'REAL': 0, 'FAKE': 1})
X = df['text']
y = df['Output']

In [18]:
df.head()

                                                text label  Output
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE       1
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE       1
2  U.S. Secretary of State John F. Kerry said Mon...  REAL       0
3  â Kaydee King (@KaydeeKing) November 9, 2016...  FAKE       1
4  It's primary day in New York and front-runners...  REAL       0

In [19]:
df.drop(['label'], axis=1, inplace=True)

In [20]:
df.head()

                                                text  Output
0  Daniel Greenfield, a Shillman Journalism Fello...       1
1  Google Pinterest Digg Linkedin Reddit Stumbleu...       1
2  U.S. Secretary of State John F. Kerry said Mon...       0
3  â Kaydee King (@KaydeeKing) November 9, 2016...       1
4  It's primary day in New York and front-runners...       0

In [22]:
# Extract Feature With CountVectorizer

from sklearn.feature_extraction.text import CountVectorizer

CV = CountVectorizer()
X = CV.fit_transform(X) # Fitting The Data

pickle.dump(CV, open('transform.pkl', 'wb'))

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=20)

In [26]:
# Naive Bayes Classifier

from sklearn.naive_bayes import MultinomialNB

clf = MultinomialNB()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8905839032088374

In [27]:
filename = 'nlp_model.pkl'
pickle.dump(clf, open(filename, 'wb'))